@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #224941 url("./img/bbgg.jpg") no-repeat center center/cover;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  margin: auto;
  position: relative;
  transform: scale(1);
}

.gradient-circle {
  background: conic-gradient(
    #55b7a4 0%,
    #86d8c8 40%,
    #86d8c8 40%,
    #6fd3c1 60%,
    #49a191 60%,
    #6fd3c1 100%
  );
  width: 320px;
  height: 320px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

/* solid circle */
.circle {
  background-color: #0d0e0f;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: -1;
}

.pointer {
  background-color: rgb(133, 187, 202);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
}

.pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  /* this will keep it roating */
  animation: rotate 7.5s linear forwards infinite;
  transform-origin: bottom center;
}

/*implement animations*/
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    /*360 rotation makes it go full circle*/
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container.grow {
  animation: grow 3s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.container.shrink {
  animation: shrink 3s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}
